@model FinPlanWeb.Models.User

@{
    ViewBag.Title = "Bluecoat E-Store Sign-In Page";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<script type="text/javascript">


    $('#help').tooltip('show');


</script>

@using (Html.BeginForm())
{
    <div class="row" style="padding-top:50px">
        <div class="col-md-6 col-md-offset-3 well">

            <legend>Welcome to Bluecoat E-Store</legend>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Sign In</div>
                </div>
                <div class="panel-body" style="padding-top: 30px">
               
                    <div class="form-group">
                        @Html.TextBoxFor(u => u.Username, new { @class = "form-control input-lg", placeholder = "Username" })
                        @Html.ValidationMessageFor(u => u.Username, null, new { @class = "help-block" })

                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(u => u.Password, new { @class = "form-control input-lg", placeholder = "Password" })
                        @Html.ValidationMessageFor(u => u.Password, null, new{ @class = "help-block error" })

                    </div>
                    <div style="float: left; font-size: 100%; position: relative; top: -10px;"><a href="http://help.bluecoatsoftware.com" id="help" data-toggle="tooltip" data-placement="left" title="Please visit: help.bluecoatsoftware.com">Need Help?</a></div>
                    <div style="float: right; font-size: 100%; position: relative; top: -10px;"><a href="#">Forgot password?</a></div>
                    <br/>
                    <div class="input-group">
                        <div class="checkbox">
                            @Html.CheckBoxFor(u => u.RememberMe)
                            @Html.LabelFor(u => u.RememberMe)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-12">
                            <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

}

