<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/Content/Image/favicon.png" type="image/x-icon">

    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    @Styles.Render("~/Content/bootstrapcss")


    @RenderSection("css", false)

    <!-- Add custom CSS here -->
    <style>
        body {
            margin-top: 60px;
        }


        .colorgraph {
            height: 5px;
            border-top: 0;
            background: #c4e17f;
            border-radius: 5px;
            background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
            background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
            background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
            background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        }



        .productbox {
            background-color: #ffffff;
            padding: 10px;
            margin-left: 21px;
            margin-bottom: 20px;
            -webkit-box-shadow: 0 8px 6px -6px #999;
            -moz-box-shadow: 0 8px 6px -6px #999;
            box-shadow: 0 8px 6px -6px #999;
        }

        .producttitle {
            font-weight: bold;
            padding: 5px 0 5px 0;
            height: 50px;
            font-size: 0.9em;
        }

        .productprice {
            border-top: 1px solid #dadada;
            padding-top: 5px;
        }

        .pricetext {
            font-weight: bold;
            font-size: 0.9em;
        }
    </style>

    <script src="@Url.Content("~/Scripts/jquery-1.8.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout-2.2.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout.mapping.js")" type="text/javascript"></script>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Home <i class="glyphicon glyphicon-home"></i></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="menu">
                        <a href="@Url.Action("ProductView", "Product")">E-Store</a>
                    </li>
                    @RenderSection("Account", required: false)
                    <li>
                        <a href="#contact">Contact</a>
                    <li>
                    @RenderSection("Edition", required: false)

                </ul>
                <ul class="nav navbar-nav navbar-right">

                    @if (Request.IsAuthenticated)
                    {
                        
                        
                        <li>
                            <a href="#">My Account</a>
                        </li>
                        <li><a href="@Url.Action("LogOut", "User")" class="btn btn-inverse btn-large">Logout<i class="glyphicon glyphicon-log-out"></i></a></li>
                    


                    }
                    else
                    {

                    }
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
  
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                @RenderBody()
                @if (IsSectionDefined("Javascript"))
                {
                    @RenderSection("Javascript")
                }


            </div>
        </div>

    </div>
    <footer style="padding: 15px !important">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <ul class="list-inline">
                    <li>
                        <i class="fa fa-facebook fa-3x"></i>
                    </li>
                    <li>
                        <i class="fa fa-twitter fa-3x"></i>
                    </li>
                    <li>
                        <i class="fa fa-dribbble fa-3x"></i>
                    </li>
                </ul>
                <!-- <div class="top-scroll">
                    <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
                </div>-->
                <hr>
                <ul class="list-inline">
                    <li>
                        <i><a href="#contact">Terms & Conditions</a></i>
                    </li>
                    <li>
                        <i>Privacy Statement</i>
                    </li>
                    <li>
                        <i>Site Map</i>
                    </li>

                    <li>
                        <i>Cookie Policy</i>
                    </li>
                </ul>
                <p class="text-center">Bluecoat Software &copy; Copyright 2014</p>
                <p>
                    <img src="~/Content/Image/powered-by-finplan-102x38-trans.jpg" />
                </p>



            </div>
        </div>
    </footer>
    <!-- /Footer -->
    <!-- /.container -->
    <!-- JavaScript -->
    @* @Scripts.Render("~/bundles/jquery") *@
    @Scripts.Render("~/bundles/bootstrapjs")




    <script type="text/javascript">

        var url = window.location;
        // Will only work if string in href matches with location
        $('ul.nav a[href="' + url + '"]').parent().addClass('active');

        // Will also work for relative and absolute hrefs
        $('ul.nav a').filter(function () {
            return this.href == url;
        }).parent().addClass('active');

    </script>

</body>

</html>
