<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="~/Content/Image/favicon.png" type="image/x-icon">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrapcss") 
    @Styles.Render("~/Content/stylistcss")
    @Styles.Render("~/Content/fontawesomecss")



    
 </head>
<body>

    <!-- Side Menu -->
    <a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle">Menu <i class="fa fa-bars"></i></a>
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand"><a href="http://bluecoatsoftware.com">Bluecoat Software</a>
            </li>
            <li><a href="#top">Home</a>
            </li>
            <li><a href="#about">About</a>
            </li>
            <li><a href="#services">Services</a>
            </li>
            <li><a href="#portfolio">Portfolio</a>
            </li>
            <li><a href="#contact">Contact</a>
            </li>
            <li>
                <a href="@Url.Action("Login", "Account")">Shop</a>
            </li>
        </ul>
    </div>
    <!-- /Side Menu -->
        <!-- Full Page Image Header Area -->
    <div id="top" class="header">
        <div class="vert-text">
            <h1>FinPlan</h1>
            <h3>
                <em>A</em> Great back-office plarform,
                <em>To</em> Expand your business</h3>
            <a href="#about" class="btn btn-default btn-lg">Find Out More</a>
        </div>
    </div>
    <!-- /Full Page Image Header Area -->

    <!-- Intro -->
    <div id="about" class="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2>Subtle Sidebar is the Perfect Template for your Next Portfolio Website Project!</h2>
                    <p class="lead">This template really has it all. It's up to you to customize it to your liking! It features some fresh photography courtesy of <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /Intro -->

    <!-- Services -->
    <div id="services" class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2>Our Services</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-4 text-center">
                    <div class="service-item">
                        <i><img src="~/Content/Image/whyfinplanimage.png" width="235" height="235" /></i>
                        <h3>Why FinPlan</h3>
                        <p>Find out why FinPlan is the system you need to run your business.</p>
                    </div>
                </div>
                <div class="col-xs-6 col-md-4 text-center">
                    <div class="service-item">
                        <i><img src="~/Content/Image/makedifferenceimage.png" /></i>
                        <h3>Making a Difference</h3>
                        <p>Our Software isn't the only thing that makes us stand out from the crowd.</p>
                    </div>
                </div>
                <div class="col-xs-6 col-md-4 text-center">
                    <div class="service-item">
                        <i><img src="~/Content/Image/whobluecoaticon.png" /></i>
                        <h3>Who are Bluecoat Software</h3>
                        <p>One of the country's leading financial software developers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Services -->
   

    <!-- Portfolio -->
    <div id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2>Our Work</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        <a href="#">
                            <img class="img-portfolio img-responsive" src="img/portfolio-1.jpg">
                        </a>
                        <h4>Cityscape</h4>
                        
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                        <a href="#">
                            <img class="img-portfolio img-responsive" src="~/Content/Image/portfolio-2.jpg">
                        </a>
                        <h4>Is That On Fire?</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        <a href="#">
                            <img class="img-portfolio img-responsive" src="img/portfolio-3.jpg">
                        </a>
                        <h4>Stop Sign</h4>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                        <a href="#">
                            <img class="img-portfolio img-responsive" src="img/portfolio-4.jpg">
                        </a>
                        <h4>Narrow Focus</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Portfolio -->

    <!-- Callout -->
    <div class="callout" style="color:black !important">
        <div class="vert-text">
            <div style="width:auto">
                @RenderBody()
               
            </div>
        </div>
    </div>
    <!-- /Callout -->

   
    <!-- Map -->
    <div id="contact" class="map">
        <iframe style="width:100%; height:100%;" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps/ms?hl=en&amp;gl=uk&amp;ie=UTF8&amp;oe=UTF8&amp;msa=0&amp;msid=213341012478731475218.0004d7a320379e8ff99a2&amp;t=m&amp;ll=51.234498,-0.342073&amp;spn=0,0&amp;output=embed"></iframe><br />
       
    </div>
    <!-- /Map -->

    <!-- Call to Action -->
    <div class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h3>The buttons below are impossible to resist.</h3>
                    <a href="#" class="btn btn-lg btn-default">Click Me!</a>
                    <a href="#" class="btn btn-lg btn-primary">Look at Me!</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Call to Action -->


    <!-- Footer -->

    <footer style="padding: 15px !important">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <ul class="list-inline">
                        <li><i class="fa fa-facebook fa-3x"></i>
                        </li>
                        <li><i class="fa fa-twitter fa-3x"></i>
                        </li>
                        <li><i class="fa fa-dribbble fa-3x"></i>
                        </li>
                    </ul>
                    <!-- <div class="top-scroll">
                        <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
                    </div>-->
                    <hr>
                    <ul class="list-inline">
                        <li>
                            <i><a href="#contact">Terms & Conditions</a></i>
                        </li>
                        <li>
                            <i>Privacy Statement</i>
                        </li>
                        <li>
                            <i>Site Map</i>
                        </li>

                        <li>
                            <i>Cookie Policy</i>
                        </li>
                        </ul>
                        <p class="text-center">Bluecoat Software &copy; Copyright 2014</p>
                        <p><img src="~/Content/Image/powered-by-finplan-102x38-trans.jpg"/></p>
                       


            </div>
        </div>
 </footer>
    <!-- /Footer -->



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapjs")







    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
    <script>
        $("#menu-close").click(function (e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
        $(function () {
            $('a[href*=#]:not([href=#])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
    </script>

</body>

</html>