@{
    ViewBag.Title = "Bluecoat Administration Dashboard";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<script type="text/javascript">
    $(document).ready(function () {
        $("#adminTab a").click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });
</script>


<div style="padding-top: 25px;">
    <div class="well">
        <ul class="nav nav-tabs" id="adminTab">
            <li class="active"><a href="#dashboard"><i class="glyphicon glyphicon-dashboard"></i>Dashboard</a></li>
            <li><a href="#orderhistory"><i class="glyphicon glyphicon-shopping-cart"></i>Order History</a></li>
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="glyphicon glyphicon-user"></i>User Administration <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#manageuser"><i class="glyphicon glyphicon-cog"></i>Manage Users</a></li>
                    <li><a href="#useractivity"><i class="glyphicon glyphicon-eye-open"></i>Users Activities</a></li>
                </ul>
            </li>
        </ul>
        <div class="tab-content">
            <div id="dashboard" class="tab-pane fade in active">
                <h3>Section A</h3>
                <p>Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui. Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>
            </div>
            <div id="orderhistory" class="tab-pane fade">
                <h3>Section B</h3>
                <p>Vestibulum nec erat eu nulla rhoncus fringilla ut non neque. Vivamus nibh urna, ornare id gravida ut, mollis a magna. Aliquam porttitor condimentum nisi, eu viverra ipsum porta ut. Nam hendrerit bibendum turpis, sed molestie mi fermentum id. Aenean volutpat velit sem. Sed consequat ante in rutrum convallis. Nunc facilisis leo at faucibus adipiscing.</p>
            </div>
            <div id="manageuser" class="tab-pane fade">

                <div id="usertable">
                    <h4>User Management</h4>
                    <p>
                        <button type="button" class="btn btn-primary " >
                            New User
                            <i class="glyphicon glyphicon-user"></i>
                        </button>
                        &nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn btn-success" data-bind="click: addNewUser">
                            Refresh
                            <i class="glyphicon glyphicon-refresh"></i>
                        </button>
                        <button class="btn btn-danger">Archieved Users</button>
                    </p>
                    <div class="alert alert-danger" data-bind="html: validationMessage, visible: validationMessage"></div>


                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" style="font-size: 11px">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Firstname</th>
                                    <th>Surname</th>
                                    <th>Firmname</th>
                                    <th>Email</th>
                                    <th>Administrator</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- ko foreach:users -->
                                <tr>
                                    <td class="col-md-1" data-bind="text: UserName"></td>
                                    <td class="col-md-1" data-bind="text: FirstName"></td>
                                    <td class="col-md-1" data-bind="text: SurName"></td>
                                    <td class="col-md-3" data-bind="text: FirmName"></td>
                                    <td class="col-md-2" data-bind="text: Email"></td>
                                    <td class="col-md-1" data-bind="text: IsAdmin"></td>
                                    <td class="col-md-3">
                                        <button type="button" class="btn btn-primary btn-xs" data-bind="click: $root.edit">Edit</button>
                                        <button type="button" class="btn btn-danger btn-xs" data-bind="    click: $root.delete">Delete</button>
                                        <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#changePasswordModal">Change Password</button>
                                    </td>
                                </tr>
                                <!-- /ko -->
                                <!-- ko if: editting() || deleting() -->
                                <tr>
                                    <!-- ko if:editting() -->
                                    <td class="col-md-1" data-bind="text: userDetails.UserName"></td>
                                    <td class="col-md-1">********</td>
                                    <!-- /ko -->
                                    <td class="col-md-2">
                                        <input type="text" data-bind="value: userDetails.FirstName" /></td>
                                    <td class="col-md-2">
                                        <input type="text" data-bind="value: userDetails.SurName" /></td>
                                    <td class="col-md-1">
                                        <input type="text" data-bind="value: userDetails.FirmName" /></td>
                                    <td class="col-md-2">
                                        <input type="text" data-bind="value: userDetails.Email" /></td>
                                    <td class="col-md-1">
                                        <input type="checkbox" data-bind="checked: userDetails.IsAdmin" /></td>
                                    <td class="col-md-2">
                                        <button type="button" class="btn btn-primary btn-xs" data-bind="click: save">Save</button></td>
                                </tr>
                                <!-- /ko -->
                            </tbody>
                        </table>
                        <div id="page-selection"></div>
                    </div>
                    <!-- New User Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Create a new user</h4>
                                </div>
                                <div class="alert alert-danger" data-bind="html: validationMessageCreate, visible: validationMessageCreate"></div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label class="control-label">Username</label>
                                        <input type="text" class="form-control" name="userName" placeholder="userName" data-bind="value:userDetails.UserName" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">New Password</label>
                                        <input type="password" class="form-control" name="password" placeholder="Password" data-bind="value:userDetails.Password" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Confirm New Password</label>
                                        <input type="password" class="form-control" name="confirmPassword" placeholder="Retype Password" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Firstname</label>
                                        <input type="text" class="form-control" name="firstName" placeholder="firstName" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Surname</label>
                                        <input type="text" class="form-control" name="surName" placeholder="surName" />
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Firm Name</label>
                                        <input type="text" class="form-control" name="firmName" placeholder="firmName" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        <input type="text" class="form-control" name="Email" placeholder="Email" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Privileges: </label>

                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                Administator
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" data-bind="click:save">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    


    <!-- Change Password Modal -->
    <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="changePasswordModalLabel">Change password</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">New Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Confirm New Password</label>
                        <input type="password" class="form-control" name="confirmPassword" placeholder="Retype Password" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        var model = {
            userDetails: {
                UserName: ko.observable(),
                Password: ko.observable(),
                FirstName: ko.observable(),
                SurName: ko.observable(),
                FirmName: ko.observable(),
                AddedDate: ko.observable(new Date()),
                Email: ko.observable(),
                IsAdmin: ko.observable()
            },
            users: ko.observableArray(@Html.Raw(@ViewBag.Users)),
            editting: ko.observable(false),
            creating: ko.observable(false),
            deleting: ko.observable(false),
            validationMessage: ko.observable(null),
            validationMessageCreate : ko.observable(null)
        };

        model.addNewUser = function () {
            model.clearUserDetails();
            model.creating(true);
            model.editting(false);
            model.deleting(false);
            $('#myModal').modal('show');
        };

        model.edit = function (data) {
            model.creating(false);
            model.editting(true);
            model.validationMessage(null);
            model.userDetails.UserName(data.UserName);
            model.userDetails.Password("***********");
            model.userDetails.FirstName(data.FirstName);
            model.userDetails.SurName(data.SurName);
            model.userDetails.FirmName(data.FirmName);
            model.userDetails.Email(data.Email);
            model.userDetails.IsAdmin(data.IsAdmin);
        };



        model.save = function (data) {
            if (model.editting()) {
                $.post("@Url.Action("UserUpdate")", ko.toJS(data.userDetails), function (result) {
                    if (!result.passed) {
                        model.validationMessage(result.validationMessage);
                    } else {
                        model.users(result.users);
                        alert('Update successfully.');
                        model.creating(false);
                        model.editting(false);
                        model.deleting(false);
                        model.clearUserDetails();
                    }
                });
            } else {
                $.post("@Url.Action("AddUser")", ko.toJS(data.userDetails), function (result) {
                    if (!result.passed) {
                        model.validationMessageCreate(result.validationMessage);
                    } else {
                        model.users(result.users);
                        alert('Save successfully.');
                        model.creating(false);
                        model.editting(false);
                        model.deleting(false);
                        model.clearUserDetails();
                    }
                });
            }
        };

        model.delete = function(data) {

            $.ajax({
                url: "@Url.Action("DeleteUser")",
                type: "POST",
                data: { username: data.UserName },
                dataType: "json",
                success: function (result) {
                    model.users(result.users);
                    alert('Delete Successfully');
                    model.creating(false);
                    model.editting(false);
                }
            });

        };



        
        model.resetPassword = function(data) {

        @*    $.ajax({
                url: "@Url.Action("ResetPassword")",
                type: "POST",
                data: { data: data.userDetails },
                dataType: "json",
                success: function (result) {
                    model.users(result.users);
                    alert('Password Reset Successfully');
                    model.creating(false);
                    model.editting(false);
                }
            });*@

        };
        


        model.clearUserDetails = function () {
            model.userDetails.UserName("");
            model.userDetails.Password("");
            model.userDetails.FirstName("");
            model.userDetails.SurName("");
            model.userDetails.FirmName("");
            model.userDetails.Email("");
            model.userDetails.IsAdmin("");
            model.validationMessage(null);
            model.validationMessageCreate(null);
        }

        $('#page-selection').bootpag({
            total: @ViewBag.TotalUsersPage
        }).on("page", function (event, /* page number here */ num) {
            $.post("@Url.Action("Paging")", {num:num}, function(users) {
                    model.users(users);
                });
            });
            ko.applyBindings(model, $('#usertable')[0]);



            $(document).ready(function() {
                debugger;
                $('#myModal').bootstrapValidator({
                    message: 'This value is not valid',
                    feedbackIcons: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        username: {
                            message: 'The username is not valid',
                            validators: {
                                notEmpty: {
                                    message: 'The username is required and can\'t be empty'
                                },
                                stringLength: {
                                    min: 6,
                                    max: 30,
                                    message: 'The username must be more than 6 and less than 30 characters long'
                                },
                                regexp: {
                                    regexp: /^[a-zA-Z0-9_\.]+$/,
                                    message: 'The username can only consist of alphabetical, number, dot and underscore'
                                }
                            }
                        },
                        email: {
                            validators: {
                                notEmpty: {
                                    message: 'The email address is required and can\'t be empty'
                                },
                                emailAddress: {
                                    message: 'The input is not a valid email address'
                                }
                            }
                        },
                        password: {
                            validators: {
                                notEmpty: {
                                    message: 'The password is required and can\'t be empty'
                                },
                                identical: {
                                    field: 'confirmPassword',
                                    message: 'The password and its confirm are not the same'
                                }
                            }
                        },
                        confirmPassword: {
                            validators: {
                                notEmpty: {
                                    message: 'The confirm password is required and can\'t be empty'
                                },
                                identical: {
                                    field: 'password',
                                    message: 'The password and its confirm are not the same'
                                }
                            }
                        }
                    }
                });
            });
    </script>




</div>
