@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div id="usertable">
    <h4>User Management</h4>
    <p><button type="button" class="btn btn-primary " data-bind="click:addNewUser">New User <li class="glyphicon glyphicon-user"></li></button>&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn btn-success ">Refresh <li class="glyphicon glyphicon-refresh"></li></button></p>

<<<<<<< HEAD
<h4>User Management</h4>
<p>
    <button type="button" class="btn btn-primary ">New User
        <li class="glyphicon glyphicon-user"></li>
    </button>
    &nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn btn-success ">Refresh
        <li class="glyphicon glyphicon-refresh"></li>
    </button>
</p>
=======
>>>>>>> 3bf1f847e3b4e5f9a4af66e3ffaf8a29956e2137


    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover" style="font-size: 11px">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Firstname</th>
                    <th>Surname</th>
                    <th>Firmname</th>
                    <th>Email</th>
                    <th>Administrator</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- ko foreach:users -->
                <tr>
                    <td data-bind="text: UserName"></td>
                    <td>********</td>
                    <td data-bind="text: FirstName"></td>
                    <td data-bind="text: SurName"></td>
                    <td data-bind="text: FirmName"></td>
                    <td data-bind="text: Email"></td>
                    <td data-bind="checked: IsAdmin"></td>
                    <td><button type="button" class="btn btn-primary btn-xs" data-bind="click:edit">Edit</button></td>
                </tr>
                <!-- /ko -->
                <!-- ko if: editting -->
                <tr>
                    <td><input type="text" data-bind="value: newUser.UserName" /></td>
                    <td><input type="text" data-bind="value: newUser.Password" /></td>
                    <td><input type="text" data-bind="value: newUser.FirstName" /></td>
                    <td><input type="text" data-bind="value: newUser.SurName" /></td>
                    <td><input type="text" data-bind="value: newUser.FirmName" /></td>
                    <td><input type="text" data-bind="value: newUser.Email" /></td>
                    <td><input type="checkbox" data-bind="checked: newUser.IsAdmin" /></td>
                    <td><button type="button" class="btn btn-primary btn-xs" data-bind="click:save">Save</button></td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        var model = {
            newUser: {
                UserName: ko.observable(),
                Password: ko.observable(),
                FirstName: ko.observable(),
                SurName: ko.observable(),
                FirmName: ko.observable(),
                AddedDate: ko.observable(new Date()),
                Email: ko.observable(),
                IsAdmin: ko.observable()
            },
            users: ko.observableArray(@Html.Raw(@ViewBag.Users)),
            editting: ko.observable(false)
        };

<<<<<<< HEAD
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" style="font-size: 11px">
        <thead>
            <tr>
                <th>UserID</th>
                <th>Username</th>
                <th>Firstname</th>
                <th>Surname</th>
                <th>Firmname</th>
                <th>Register Date</th>
                <th>Email</th>
                <th>Administrator</th>
                <th>Last Login</th>
                <th>IP Log</th>
                <th>Modified Date</th>
                <th>Password Reset</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Users)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.UserName</td>
                    <td>@item.FirstName</td>
                    <td>@item.SurName</td>
                    <td>@item.UserName</td>
                    <td>@item.AddedDate</td>
                    <td>@item.Email</td>
                    <td>@item.IsAdmin</td>
                    <td>@item.LastLogin</td>
                    <td>@item.IPLog</td>
                    <td>@item.ModifiedDate</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-xs">Change Password</button></td>
                </tr>
      
            }

        </tbody>
    </table>
</div>
=======
        model.addNewUser = function () {
            model.editting(true);
        };

        model.edit = function (data) {
            alert('lalal');
        };

        model.save = function (data) {
            $.post("@Url.Action("AddUser")", ko.toJS(data.newUser), function (result) {
                model.users(result);
            });
        }
        ko.applyBindings(model, $('#usertable')[0]);
    </script>
</div>
>>>>>>> 3bf1f847e3b4e5f9a4af66e3ffaf8a29956e2137
