@{
    ViewBag.Title = "Bluecoat E-Store";
    Layout = "~/Views/Shared/_Layout1.cshtml";
   
}



<!-- Content -->
<div class="container-fluid" id="product-container">

    <div class="row-fluid">
        <div class="span12">
            <div class="span2">
                <div class="col-md-2" style="height: 500px">
                    <ul id="sidebar" class="nav nav-pills nav-stacked">
                        <li id="allitems" class="active"><a href="#" data-bind="click: GetAllProducts"><span class="badge pull-right" data-bind="visible:showAllItemCount, text: itemCount"></span>All Items</a></li>
                        <li id="cloud"><a href="#" data-bind="click: GetCloudProducts"><span class="badge pull-right" data-bind="visible: showCloudItemCount, text: itemCount"></span>Cloud</a></li>
                        <li id="data-transfer"><a href="#" data-bind="click: GetDataTransferProducts"><span class="badge pull-right" data-bind="visible: showDataTransferItemCount, text: itemCount"></span>Data Transfer</a></li>
                        <li id="it-support"><a href="#" data-bind="click: GetITSupportProducts"><span class="badge pull-right" data-bind="visible: showITSupportItemCount, text: itemCount"></span>IT Support</a></li>
                    </ul>
                </div>
            </div>
            <div class="span10">
                <div class="col-md-10">
                    <div id="midCol" data-spy="affix" data-offset-top="300">
                        <div class="well">

                            <div class="row">
                                <div class="col-md-10">
                                </div>
                                <div class="col-md-2">
                                    <a href="#" class="btn btn-success btn-sm" role="button">
                                        <li class="glyphicon glyphicon-shopping-cart"></li>
                                        View your cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" data-bind="foreach:products">
                    <div class="col-md-3 column productbox">
                        <img src="http://placehold.it/460x250/e67e22/ffffff&text=HTML5" class="img-responsive">
                        <div class="producttitle" data-bind="text:Name"></div>
                        <div class="productprice">
                            <div class="pull-right"><a href="#" class="btn btn-info btn-sm" role="button">More Details</a> <a href="#" class="btn btn-primary btn-sm" role="button">Add to cart</a></div>
                            <div class="pricetext" data-bind="text: '£' +Price"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var model = {
        products: ko.observableArray(@Html.Raw(@ViewBag.Products)),
        showAllItemCount: ko.observable(true),
        showDataTransferItemCount: ko.observable(false),
        showCloudItemCount: ko.observable(false),
        showITSupportItemCount: ko.observable(false)
    };
    function ClearActiveItem() {
        $('#sidebar li').removeClass("active");
    }
    function AddActiveItem(selector) {
        $(selector).addClass("active");
    }
    function HideAllCounts() {
        model.showAllItemCount(false);
        model.showDataTransferItemCount(false);
        model.showCloudItemCount(false);
        model.showITSupportItemCount(false);
    }
    
    model.GetAllProducts = function(element,e){
        $.getJSON("@Url.Action("FilterProduct")", { type: 0 }, function (data) {
            ClearActiveItem();
            AddActiveItem('#allitems');
            HideAllCounts();
            model.showAllItemCount(true);
            model.products(data);
        });};
    model.GetCloudProducts = function(){
        $.getJSON("@Url.Action("FilterProduct")", { type: 1 }, function (data) {
            ClearActiveItem();
            AddActiveItem('#cloud');
            HideAllCounts();
            model.showCloudItemCount(true);
            model.products(data);
        });};
    model.GetDataTransferProducts = function(){
        $.getJSON("@Url.Action("FilterProduct")", { type: 2 }, function (data) {
            ClearActiveItem();
            AddActiveItem('#data-transfer');
            HideAllCounts();
            model.showDataTransferItemCount(true);
            model.products(data);
        })};
    model.GetITSupportProducts = function(){
        $.getJSON("@Url.Action("FilterProduct")", { type: 3 }, function (data) {
            ClearActiveItem();
            AddActiveItem('#it-support');
            HideAllCounts();
            model.showITSupportItemCount(true);
            model.products(data);
        });};
    model.itemCount = ko.computed(function () {
        return model.products().length;
    });

                    ko.applyBindings(model, $('#product-container')[0]);
</script>
