@model FinPlanWeb.Models.User

@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


@using (Html.BeginForm())
{
   <div class="container">
   <div class="row" style="padding: 20px 50px 20px 50px;">
   <div class="col-xs-6 col-sm-3" ></div>
   <div class="panel panel-default">
   <div class="panel-heading">
   <div class="panel-title">Sign In</div></div>
   <div class="panel-body" style="padding-top:30px">
        @Html.ValidationSummary()
       <div class="form-group">
                    @Html.TextBoxFor(u => u.Username, new { @class = "form-control input-lg", placeholder="Email Address"})
                    @Html.ValidationMessageFor(u => u.Username, null, new { @class = "help-inline" })  
                    
				</div>
				<div class="form-group">
                    @Html.PasswordFor(u => u.Password, new { @class = "form-control input-lg", placeholder = "Password"})
                    @Html.ValidationMessageFor(u => u.Password)
                    
				</div>

         <div style="float:right; font-size: 100%; position: relative; top:-10px;"><a href="#">Forgot password?</a></div>

    <div class="input-group">
                              <div class="checkbox">
                                             @Html.CheckBoxFor(u => u.RememberMe)
                                             @Html.LabelFor(u => u.RememberMe)
                                      </div>
                                    </div>
    
       <div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In">
					</div>
                     <div class="col-xs-6 col-sm-6 col-md-6">
						<a href="@Url.Action("Register", "User")" class="btn btn-lg btn-danger btn-block">Register</a>
					</div>
           </div>
          <hr class="colorgraph">
       <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="padding-top:15px; font-size:85%" >
                                            Don't have an account! 
                                        <a href="@Url.Action("Register", "User")" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                                            Sign Up Here
                                        </a>
                                        </div>
                                    </div>
                                </div>    
   </div>
   </div>
   </div>
   </div>

}

 <!-- Custome Javascripts -->

     

