@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div style="padding-top: 10px;" id="checkout">
    <div class="well">

        <div class="alert alert-danger" data-bind="html: validationMessage, visible: validationMessage"></div>
        <div class="panel-group" id="accordion" data-bind=" visible: !orderConfirmation()">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseZero">
                            Cart Summary
                        </a>
                    </h4>
                </div>
                <div id="collapseZero" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">Image</th>
                                    <th class="text-left">Product Name</th>
                                    <th class="text-right">Quantity</th>
                                    <th class="text-right">Unit Price</th>
                                    <th class="text-right">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- ko foreach:cart -->
                                <tr>
                                    <td class="text-center"></td>
                                    <td class="text-left" data-bind="text: $data.Name"></td>

                                    <td class="text-right" data-bind="text: $data.Quantity"></td>
                                    <td class="text-right" data-bind="text: '£' + $data.UnitPriceInStr"></td>
                                    <td class="text-right" data-bind="text: '£' + $data.TotalPriceInStr"></td>
                                </tr>
                                <!-- /ko -->
                            </tbody>
                        </table>
                        @*<fieldset>
                                <legend>What would you like to do next?</legend>
                                <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
                                <div id="accordion" class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Use Coupon Code
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <h5>Enter your coupon here:</h5>

                                                <form class="form-inline" role="search">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Search">
                                                    </div>
                                                    <button type="submit" class="btn btn-default">Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset> *@
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td class="text-right">Sub-Total:</td>
                                    <td class="text-right" data-bind="text: '£' + subTotalPrice()"></td>
                                </tr>
                                <tr>
                                    <td class="text-right">VAT (20%):</td>
                                    <td class="text-right" data-bind="text: '£' + vatPrice()"></td>
                                </tr>
                                <tr>
                                    <td class="text-right">Total:</td>
                                    <td class="text-right" data-bind="text: '£' + totalPrice()"></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            Billing Information
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">


                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="control-label">Billing Contact</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12">
                                    <input id="firstName" class="form-control" type="text" data-bind="value: checkout.BillingInfo.FirstName, valueUpdate: 'afterkeydown', attr: { placeholder: 'First Name' }" />
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <input id="lastName" class="form-control" type="text" data-bind="value: checkout.BillingInfo.SurName, valueUpdate: 'afterkeydown', attr: { placeholder: 'Last Name' }" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input id="emailAddress" class="form-control" type="text" data-bind="value: checkout.BillingInfo.Email, valueUpdate: 'afterkeydown', attr: { placeholder: 'E-mail Address' }" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input id="companyName" class="form-control" type="text" data-bind="value: checkout.BillingInfo.FirmName, valueUpdate: 'afterkeydown', attr: { placeholder: 'Company Name' }" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="control-label">Billing Address</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input id="buildingname" class="form-control" type="text" data-bind="value: checkout.BillingInfo.BuildingName, valueUpdate: 'afterkeydown', attr: { placeholder: 'Building Name' }" />
                                </div>
                                <div class="col-md-6">
                                    <input id="streetname" class="form-control" type="text" data-bind="value: checkout.BillingInfo.StreetName, valueUpdate: 'afterkeydown', attr: { placeholder: 'Street Name' }" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input id="city" class="form-control" type="text" data-bind="value: checkout.BillingInfo.City, valueUpdate: 'afterkeydown', attr: { placeholder: 'Building Name' }" />
                                </div>
                                <div class="col-md-6">
                                    <input id="county" class="form-control" type="text" data-bind="value: checkout.BillingInfo.County, valueUpdate: 'afterkeydown', attr: { placeholder: 'Street Name' }" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input id="postcode" class="form-control" type="text" data-bind="value: checkout.BillingInfo.PostCode, valueUpdate: 'afterkeydown', attr: { placeholder: 'Post code' }" />
                                </div>
                                <div class="col-md-6">
                                    <input id="number" class="form-control" type="text" data-bind="value: checkout.BillingInfo.TelephoneNo, valueUpdate: 'afterkeydown', attr: { placeholder: 'Contact Number' }" />
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            Payment Method
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="col-md-9">
                            Please select your payment type here:
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" value="true" id="optionsDirectDebit" data-bind="checked: checkout.PaymentInfo.IsDirectDebit">
                                            <img width="125px" height="39px" src="http://localhost/FinPlanWeb/Content/Image/DIRECT_DEBIT_LOGO.jpg" />
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" value="true" id="optionsPaypal" data-bind="checked: checkout.PaymentInfo.IsPayPal">
                                            <img width="125px" height="43px" src="http://localhost/FinPlanWeb/Content/Image/paypal_logo.jpg" />
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-bind="visible: orderConfirmation">
            <div class="well">
                <h3>Cart Summary</h3>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">Image</th>
                            <th class="text-left">Product Name</th>
                            <th class="text-right">Quantity</th>
                            <th class="text-right">Unit Price</th>
                            <th class="text-right">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- ko foreach:cart -->
                        <tr>
                            <td class="text-center"></td>
                            <td class="text-left" data-bind="text: $data.Name"></td>

                            <td class="text-right" data-bind="text: $data.Quantity"></td>
                            <td class="text-right" data-bind="text: '£' + $data.UnitPriceInStr"></td>
                            <td class="text-right" data-bind="text: '£' + $data.TotalPriceInStr"></td>
                        </tr>
                        <!-- /ko -->
                    </tbody>
                </table>
                @*<fieldset>
                        <legend>What would you like to do next?</legend>
                        <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
                        <div id="accordion" class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Use Coupon Code
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <h5>Enter your coupon here:</h5>

                                        <form class="form-inline" role="search">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Search">
                                            </div>
                                            <button type="submit" class="btn btn-default">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset> *@
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td class="text-right">Sub-Total:</td>
                            <td class="text-right" data-bind="text: '£' + subTotalPrice()"></td>
                        </tr>
                        <tr>
                            <td class="text-right">VAT (20%):</td>
                            <td class="text-right" data-bind="text: '£' + vatPrice()"></td>
                        </tr>
                        <tr>
                            <td class="text-right">Total:</td>
                            <td class="text-right" data-bind="text: '£' + totalPrice()"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="well">
                <table class="table">
                    <tr>
                        <td colspan="2">
                            <h3>Payment & Billing Summary</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Payment Information</p>
                            <p data-bind="html: paymentInfoDescription"></p>
                        </td>
                        <td>
                            <p>Billing Information</p>
                            <p data-bind="html: billingInfoDescription"></p>
                        </td>
                    </tr>
                </table>
            </div>



            <button class="btn btn-success" data-bind="click:continueOrder">Confirm Order</button> <button class="btn btn-danger" data-bind="click: backToEdit ">Back to Edit</button>

        </div>

        <button class="btn btn-warning " data-bind="click: continueClickEvent, visible: !orderConfirmation()">Continue</button>
    </div>
</div>

<script type="text/javascript">

    var vm = {
        cart: ko.observableArray(@Html.Raw(@ViewBag.Cart)),
        checkout: ko.mapping.fromJS(@Html.Raw(@ViewBag.Checkout)),
        orderConfirmation: ko.observable(false),
        validationMessage: ko.observable()
    }

    vm.subTotalPrice = ko.computed(function () {
        var totalPrice = 0.00;
        var shoppingCart = vm.cart();
        $.each(shoppingCart, function (index, value) {
            totalPrice += value.TotalPrice;
        });
        return totalPrice.toFixed(2);
    });

    vm.totalPrice = ko.computed(function () {
        var subtotal = vm.subTotalPrice();
        var totalPrice = subtotal * 120 / 100;
        return totalPrice.toFixed(2);
    });

    vm.vatPrice = ko.computed(function () {
        var vatprice = vm.subTotalPrice() * 20 / 100;
        return vatprice.toFixed(2);
    });

    vm.billingInfoDescription = ko.computed(function () {
        var html = "";
        html = vm.checkout.BillingInfo.FirstName() + '  ' + vm.checkout.BillingInfo.SurName() + ' <br />' +
            vm.checkout.BillingInfo.FirmName() + '<br />' + vm.checkout.BillingInfo.BuildingName() + '<br/>' + vm.checkout.BillingInfo.StreetName() +
            ' <br />' + vm.checkout.BillingInfo.City() + '  ' + vm.checkout.BillingInfo.County() + ' <br />' + vm.checkout.BillingInfo.PostCode() + '<br />' +
            vm.checkout.BillingInfo.Email() + '  ' + vm.checkout.BillingInfo.TelephoneNo();
        return html;
    });

    vm.continueOrder = function() {
        if (vm.checkout.PaymentInfo.IsDirectDebit()) {
            window.location.href = "@Url.Action("OrderByDirectDebit")";
        }
    };

    vm.continueClickEvent = function () {

        var tempCheckout = ko.toJSON(vm.checkout);

        $.post("@Url.Action("ValidateCheckout")", { checkout: tempCheckout }, function (result) {
            vm.validationMessage(null);
            if (!result.passed) {
                vm.validationMessage(result.validationMessage);
            } else {
                vm.orderConfirmation(true);
            }
        });

    };

    vm.backToEdit = function () {
        vm.orderConfirmation(false);
    };

    vm.paymentInfoDescription = ko.computed(function () {

        if (vm.checkout.PaymentInfo.IsDirectDebit()) {
            return "Payment Method : Direct Debit";
        } else {
            return "Payment Method : Paypal";
        }
    });

    ko.applyBindings(vm, $('#checkout')[0]);
</script>
